/*-- scss:defaults --*/
// Base document colors

$body-color: #ddd;
$primary: #2248;
$secondary: rgba(#fff, .8);
$body-bg-image: linear-gradient(43deg, #222245 0%, #661160 57%, #773c03 100%);

//Code 
$code-block-bg: #3337;
$code-bg: rgba(133, 133, 133, 0.333);
$code-color: rgba(135, 219, 255, 0.949);

// Backgrounds
$card-background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
$card-background-image-lighter: linear-gradient(125deg, rgba(255, 255, 255, 0.208), rgba(255, 255, 255, 0.068) 70%);

// Table border is difficult to mess with
$table-group-separator-color: $body-color;
$table-group-separator-color-lighter: shade-color($table-group-separator-color, 10%);

//mermaid
$mermaid-label-bg-color: transparent;
$mermaid-label-fg-color: $secondary;
$mermaid-node-bg-color: $primary;
$mermaid-node-fg-color: $secondary;

$link-color: #f8ae40;

// $callout-color-info: #f00;
// $callout-color-warning: #f00;
// $callout-color-note: #f00;
// $callout-color-caution: #f00;



/*-- scss:rules --*/
div.quarto-post {
  text-shadow: 2px 3px 3px #3338 !important;
}

blockquote {
  color: tint-color($body-color, 20%) !important;
}


div.sourceCode {
  box-shadow: 2px 2px 1px #0003;
  box-shadow: inset 1px 1px rgba($primary, 0.2), inset -1px -1px rgba($primary, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
}

div.nav-footer {
  color: rgba(255, 255, 255, 0.24);
}

// callout headers
div.callout-style-default > .callout-header {
  color: $body-color !important;
}

// div.callout-note.callout-style-default>.callout-header {
//   background-color: rgba(shade-color($callout-color-note, 80%), 50%);
// }

// div.callout-warning.callout-style-default>.callout-header {
//   background-color: rgba(shade-color($callout-color-warning,80%), 50%);
// }

// div.callout-tip.callout-style-default>.callout-header {
//   background-color: rgba(shade-color($callout-color-tip,80%), 50%);
// }

// div.callout-important.callout-style-default>.callout-header {
//   background-color: rgba(shade-color($callout-color-important,80%), 50%);
// }

// div.callout-caution.callout-style-default>.callout-header {
//   background-color: rgba(shade-color($callout-color-caution,80%),50%);
// }
// callout headers end