/*-- scss:defaults --*/
$body-emphasis-color: shade-color($body-color, 50%);
$input-border-color: $border-color;
$form-select-indicator-color: $border-color;
$list-group-color: $border-color;
$breadcrumb-divider-color: $border-color;
$text-muted: $border-color;
$block-quote-footer-color: $border-color;


$table-border-width: 1px;

$mermaid-bg-color: $secondary !default;
$mermaid-edge-color: $border-color !default;
$mermaid-node-fg-color: $body-color !default;
$mermaid-fg-color: $body-color !default;
$mermaid-fg-color--lighter: lighten($body-color, 10%) !default;
$mermaid-fg-color--lightest: lighten($body-color, 20%) !default;
$mermaid-font-family: sans-serif !default;
$mermaid-label-bg-color: rgba($secondary, 0.8) !default;
$mermaid-label-fg-color: $primary !default;
$mermaid-node-bg-color: $secondary !default;
$mermaid-node-fg-color: $body-color !default;
$body-bg: $primary;


/*-- scss:rules --*/
div.quarto-post{
    z-index: 2;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    text-shadow: 1px 1px 3px #3338;
    border-bottom: 0px;
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: $card-background-image;
}

div.quarto-grid-item{
    z-index: 2;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    text-shadow: 1px 1px 3px #3338;
    border-bottom: 0px;
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: $card-background-image;
}

// div.cell-output-display:not(.column-screen-inset-shaded) {
//     backdrop-filter: blur(6px);
//     border-radius: 15px;
//     padding: 2em;
//     text-shadow: 1px 1px 2px #3338;
//     border-bottom: 0px;
//     box-shadow: 10px 10px 5px #5553;
//     box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
//     background-color: transparent;
//     background-image: linear-gradient(125deg, #DDD3, #EEE2 70%);
//     padding-bottom: 0.5em;
//     margin-bottom: 1em;
// }

.figure-img {
    backdrop-filter: blur(6px);
    border-radius: 5px;
    padding: 1em;
    text-shadow: 1px 1px 2px #3338;
    border-bottom: 0px;
    box-shadow: 10px 10px 5px #5553;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: linear-gradient(125deg, #DDD3, #EEE2 70%);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}


div.cell-output-display.page-full {
    border-radius: 0px;
}

div.cell-output-display.column-screen-inset-shaded {
    backdrop-filter: blur(6px);
    background-color: $primary;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
 
figcaption {
    color: $body-color !important;
    margin: auto;
    text-align: center;
}

.input-group-text {
    border-bottom: 1px solid $border-color;
}

blockquote {
    border-left: .5rem solid $border-color;
    background-color: transparent;
    background-image: $card-background-image;
    box-shadow: 5px 5px 3px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
}

table, tbody, tfoot, tr, td {
    border-top: revert;
    border-bottom: revert;
    background-image: revert;
}

.table {
    border-top: calc($table-border-width * 3) solid $table-group-separator-color;
    border-bottom: calc($table-border-width * 3) solid $table-group-separator-color;
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    // background-color: transparent;
    // background-image: $card-background-image-lighter;
}

.ps-root {
    padding: 1em;
    padding-top: 0.2em;
    color: $black;
    border-radius: 5px;
    margin-bottom: 1em;
    border-left: 15px solid rgb(71, 146, 195);
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.707), rgba(255, 255, 255, 0.402) 85%);
}

.edgeLabel {
    display: block;
    backdrop-filter: blur(16px);
    padding: 0px 5px;
    border-radius: 2px;
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: $card-background-image;
  }

// This is for the callout title bar text color
div.callout.callout-style-default>.callout-header {
    color: $body-color;
}

// This is for the popup
.tippy-box {
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 1em;
    text-shadow: 1px 1px 2px #3338;
    border-bottom: 0px;
    box-shadow: 10px 10px 5px #5553;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent !important;
    background-image: linear-gradient(125deg, #DDD3, #EEE2 70%);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

// This needs to be used manually with images in markdown
img.fig-background {
    padding: 1em;
    backdrop-filter: blur(16px);
    box-shadow: 10px 10px 5px #0003;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-image: $card-background-image-lighter;
    border-radius: 2px;
}

// For headers
#quarto-header {
    font-family: "Roboto";
}

.quarto-title-block {
    font-family: "Roboto";
}

#quarto-margin-sidebar {
    font-family: "Roboto";
}

div.nav-footer {
    background-color: transparent;
    border-top: 1px solid;
    margin-left: 1em;
    margin-right: 1em;
}