:root {
  --bs-font-sans-serif: "Georgia", "Constantia";
}

/* css styles */
div.quarto-post {
  border-bottom: 0px;
}

nav.navbar {
  border-bottom: 5px solid;
  border-color: #aa3360;
  backdrop-filter: blur(6px);
}

body {
  /* font-family: Roboto, Sans-Serif; */
  background-image: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#document-wrapper {
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 1em;
  text-shadow: 2px 3px 3px #3338;
  border-bottom: 0px;
  box-shadow: 10px 10px 5px #5553;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: linear-gradient(125deg, #3337, #9995 70%);
  
}

.serif-content {
  font-family: "Georgia";
}

h1 {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
}

h2 {
  border-left: 8px solid ;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  padding-left: 8px;
}


.thumbnail-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.quarto-post:hover {
  transform: scale(1.03);
}

div.quarto-grid-item:hover {
  transform: scale(1.03);
}

div.quarto-post {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.quarto-grid-item {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

.psuedo-code {
  font-family: "Georgia";
}

.math.display {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

.animation {
  display: block !important;
}

.column-margin {
  font-family: "Roboto";
  text-align: justify !important;
  font-size: 8pt;
}

#ref {
  background-color: unset;
  border-left: none;
}

h2#references {
  background-color: unset;
  border-left: none;
  padding-left: unset;
}

#quarto-appendix.default {
  background-color: transparent;
}

div.csl-entry {
  margin-top: 1em;
  font-size: 8pt;
}

.code-annotation-gutter {
  width: 2.5em;
}

.code-annotation-gutter-bg {
  width: 2.5em;
}

/* Set table at center */
.quarto-float-tbl {
  text-align:center;
}

.quarto-float-caption {
  font-size: 10pt;
  line-height: 1.15em;
  text-align: center;
}

/* Lightbox caption background */
div.gdesc-inner {
  backdrop-filter: blur(10px);
}

div.gdesc-inner .gslide-desc {
  background-color: unset !important;
  backdrop-filter: unset;
}